<dl class="workspace-menu accordion">
	<dd>
		<a href="{{ site.baseurl }}/2014/07/20/index/" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Introduction</a>
		<div id="panel1" class="content  js-content active">
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="{{ site.baseurl }}/2014/07/20/understanding/" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 1<br /><br /> Understanding v3</a>
		<div id="panel1" class="content  js-content active">
			<ul>	
				<li id="workspace-menu-published" data-page="posts">
					<a href="{{ site.baseurl }}/2014/07/20/understanding/"><p>Overview</p></a>
				</li>
						
				<li id="workspace-menu-published" data-page="posts">
					<a href="{{ site.baseurl }}/2014/07/20/understanding-smallsurfaces"><p>Design Challenges</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="{{ site.baseurl }}/2014/07/20/understanding-keyconcepts"><p>Key Concepts in v3</p></a>
				</li>
								

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 2<br /><br /> Strategy</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Published </p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Published </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Published </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 3<br /><br /> Installation</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Linux</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>MacOSX </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Windows </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 4<br /><br /> Configuration</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Linux</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>MacOSX </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Windows </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 5<br /><br /> Data Collection Design</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Linux</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>MacOSX </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Windows </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>

	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 6<br /><br /> Deployment</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Linux</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>MacOSX </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Windows </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 7<br /><br /> Curation</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Linux</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>MacOSX </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Windows </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 8<br /><br /> Analysis</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Linux</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>MacOSX </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Windows </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 9<br /><br /> Closing</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Linux</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>MacOSX </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Windows </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Chapter 10<br /><br /> Developing</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Linux</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>MacOSX </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Windows </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>
	
	<dd>
		<a href="#chapter1" id="workspace-menu-posts" class="title  js-title active" data-section-title="">Appendices</a>
		<div id="panel1" class="content  js-content active">
			<ul>			
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Appendix 1: Mapping</p></a>
				</li>

				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Appendix 2: Security </p></a>
				</li>
				
				<li id="workspace-menu-published" data-page="posts">
					<a href="#posts"><p>Appendix 3: Customizing </p></a>
				</li>				

			</ul>
		</div> <!-- end .content -->
	</dd>

</dl>

<!-- >
<div class="tabs-content">
	<div class="available-attributes content active">
		<ul>

			<li class=""><a href="#">Chapter 1</a> </li>
			<li class=""><a href="#">Chapter 2</a> </li>
			<li class=""><a href="#">Chapter 3</a> </li>
			
		</ul>
	</div>

</div> -->

<!-- 

{% for ch in site.chapters  %}
<p>{{ ch.name }}<p>
{% endfor %}

-->